h1 {
    text-align: center;
}
body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: gray;
    }
.weather {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 30px;

}
.all{
    max-width: 50%;
    margin: 50px auto;
}
.units {
    font-size: small;
    position: relative;
    bottom: 13px;
}
